<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
          id="unused.methods.marker"
          name="Unused Method"
          point="org.eclipse.core.resources.markers">
       <super
          type="org.eclipse.core.resources.problemmarker">
       </super>
       <persistent
          value="true">
       </persistent>
    </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="unused.methods.FindUnusedMethodsHandler"
            id="unused.methods.FindUnusedMethodsCommand"
            name="Find unused methods">
      </command>
      <command
            defaultHandler="unused.methods.ClearProblemMarkersHandler"
            id="unused.methods.ClearProblemMarkersCommand"
            name="Clear unused methods problem markers">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="unused.methods.toolbar">
            <command
                  commandId="unused.methods.FindUnusedMethodsCommand"
                  label="Find unused methods"
                  style="push">
            </command>
            <command
                  commandId="unused.methods.ClearProblemMarkersCommand"
                  label="Clear Problem Markers"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
