<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
          id="unused.methods.marker"
          name="Unused Method"
          point="org.eclipse.core.resources.markers">
       <super
          type="org.eclipse.core.resources.problemmarker">
       </super>
       <persistent
          value="true">
       </persistent>
    </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="unused.methods.ui.FindAndMarkUnusedMethodsInJavaProjectsContribution"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <action
               class="unused.methods.ui.FindAndMarkUnusedMethodsInJavaProjects"
               id="unused.methods.ui.FindAndMarkUnusedMethodsInJavaProjects"
               label="Find Unused Methods">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="unused.methods.ui.ClearUnusedMethodMarkersContribution"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <action
               class="unused.methods.ui.ClearUnusedMethodMarkers"
               id="unused.methods.ui.ClearUnusedMethodMarkers"
               label="Clear Unused Methods Markers">
         </action>
      </objectContribution>
   </extension>
</plugin>
